@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <!-- 2 empty sections in the left -->
        </div>
        <div class="col-md-6 ">
            <div class="card row justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 60px; padding-top: 80px; padding-bottom: 80px">
                <div class="card-body ">

                    <h4 class="card-title text-center mb-4 mt-1" >Sign in</h4>
                    <hr style="margin-bottom: 40px; margin-top: 40px">
                    <p class="text-success text-center"> </p>

                    <div class="form-group" >
                        <input name="" class="form-control" style="width:300px" placeholder="Email or login" type="email" style="width: 200px">
                    </div> <!-- form-group// -->

                    <div class="form-group" >
                        <input class="form-control" style="width:300px" placeholder="******" type="password">
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary btn-block" style="width: 250px; margin-top: 60px "> Login </button>
                    </div> <!-- form-group// -->

                    <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
                </div>
            </div> <!-- card.// -->
        </div>
        <div class="col-md-3">
            <!-- 2 empty sections in the right -->
        </div>
    </div>
</div>





